        :root {
            --text-color: #667085;
        }
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Inter', sans-serif;
        }
        
        body {
            width: 100%;
            height: 100vh;
            align-items: center;
        }
        
        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 1rem 0;
        }

        .link {
            display: flex;        
            align-items: center;    
            justify-content: space-between; 
        }
        
        .link img {
            margin-right: 10px;     
        }

        .links a {
            color: var(--text-color);
            text-decoration: none;
            margin-right: 2rem;
        }
        
        button {
            padding: 0.8rem 1rem;
            cursor: pointer;
            border: none;
            border-radius: 0.5rem;
            font-weight: 500;
            background: none;
            color: var(--text-color);
            font-size: 0.9rem;
        }
        
        button#signUp {
            background-color: #8E2424;
            color: #FFF;
        }
        .sobre__nós{
            margin:96px 0px 96px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2.4rem;
        }
        .sobre__nós__sobre__sobre{
            font-family:"Inter", sans-serif;
            font-weight: 600;
            font-size: 16px ;
            color: #8E2424;
        }
        .sobre__nós__titulo{
            font-family:"Inter", sans-serif;
            font-weight: 600;
            font-size: 48px ;
            color: black;
        }
        .sobre__nós__texto{
            font-family:"Inter", sans-serif;
            font-weight: 400;
            font-size: 20px ;
            line-height: 1.8rem;
            text-align: center;
            color: var(--text-color);  
        }
        .metricas-container{
        justify-content: space-evenly;
            display:grid; 
            grid-template-columns:280px 280px 280px 280px ;
            padding: 56px;
            width:75%;
            margin: 0 13%;
            gap: 32px;
        
        }
        .metricas__titulo{
            font-family: "Inter",sans-serif;
            font-weight: 600;
            font-size: 72px;
            color: #8E2424;
        }
        .metricas__titulo__segundario{
            font-family: "Inter",sans-serif;
            font-weight: 500;
            font-size: 18px; 
            color: var(--cor-preto);
            padding: 12px 0 8px 0;
        }
        .metricas__texto{
            font-family: "Inter",sans-serif;
            font-weight: 400;
            font-size: 16px;
            color:var(--cor-cinza); 
            line-height: 24px;
        }