    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

    :root{
        --cor-branca: #FFFFFF;
        --cor-cinza:#667085;
        --cor-marrom:#8E2424;
        --cor-preto:#101828;
        --cor-background-footer:#F9FAFB;
        --cor-borda-desing:#EAECF0;
        

    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Inter", sans-serif;
    }
    body{
        background-color: var(--cor-branca);
        width: 100%;
        height: 100vh;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding: 2rem;
        margin: 0px 80px;
    }
    .navbar__logo{
        padding: 28px;
    }
    .navbar__Link{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
        margin-right:300px;
        display: flex;
        gap: 32px;
    
    }
    .navbar__Link__link {
        text-decoration: none;
        color:var(--cor-cinza);

    }

    .navbar__botões{
        display: flex;
        align-items: center;
        gap:30px;
    }

    .navbar__botões__entrar{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: var(--cor-cinza);
        margin-left: 12px;
        text-decoration: none;
    }
    .navbar__botões__cadastrar{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
        background-color:var(--cor-marrom);
        color:var(--cor-branca);
        padding: 10px 18px 10px 18px;
        border-radius: 8px;  
        text-decoration: none;
    }

    .sobre__nós{
        margin:96px 0px 96px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
    }
    .sobre__nós__sobre__sobre{
        font-family:"Inter", sans-serif;
        font-weight: 600;
        font-size: 16px ;
        color: var(--cor-marrom);
    }
    .sobre__nós__titulo{
        font-family:"Inter", sans-serif;
        font-weight: 600;
        font-size: 48px ;
    }
    .sobre__nós__texto{
        font-family:"Inter", sans-serif;
        font-weight: 400;
        font-size: 20px ;
        line-height: 1.8rem;
        text-align: center;
        color: var(--cor-cinza);  
    }
    .metricas-container{
    justify-content: space-evenly;
        display:grid; 
        grid-template-columns:280px 280px 280px 280px ;
        padding: 56px;
        width:75%;
        margin: 0 13%;
        gap: 32px;
    
    }
    .metricas__titulo{
        font-family: "Inter",sans-serif;
        font-weight: 600;
        font-size: 72px;
        color: var(--cor-marrom);
    }
    .metricas__titulo__segundario{
        font-family: "Inter",sans-serif;
        font-weight: 500;
        font-size: 18px; 
        color: var(--cor-preto);
        padding: 12px 0 8px 0;
    }
    .metricas__texto{
        font-family: "Inter",sans-serif;
        font-weight: 400;
        font-size: 16px;
        color:var(--cor-cinza); 
        line-height: 24px;
    }